@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background-color: #004449;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all ease-in;
}
html,body{
    height: 100%;
    width: 100%;
}
.hero{
    background-color: #D7FFC2;
  padding: 112px 0;
  margin-bottom: 112px;
}

  .container{
    width: 17rem;
  }